  <!--Menu lateral --->
  <div class="grid-item1">
    <ul class="list-group list-group-flush">
    <li class="list-group-item"><a class="menuadmin" href="/carrers">Gestionar carrera</a></li>
    <li class="list-group-item"><a class="menuadmin" href="/period">Gestionar periodo</a></li>
    <li class="list-group-item"><a class="menuadmin" href="/users">Gestionar usuario</a></li>
    <li class="list-group-item"><a class="menuadmin" href="#">Coordinadores de asignatura </a></li>
    <li class="list-group-item"><a class="menuadmin" href="subject">Asignatura </a></li>
    <li class="list-group-item"><a class="menuadmin" href="#">Reportes </a></li>
    </ul>
  </div> 