<nav class="arriba">
    <a class="arriba"><b>¿Necesitas ayuda?</b>   Contactanos: fcobo@est.ups.edu.ec/fonad@est.ups.edu.ec</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
    </button>
</nav>

<div>
    <a href="/home">
      <img src="/assets/logo/LOGO-UPS.png" alt="" width="30%" height="30%"/>
    </a>

    <a class="ingreso" href="/login">
      Ingresar
    </a>

    <a class="ingreso" href="/adminpanel">
      Admin panel
    </a>

</div>


<nav class="medio">
        
<ul class="nav nav-pills nav-fill">
  <li class="nav-item">
    <a style="color:white" class="nav-link" href="#">Crear ejercicio</a>
  </li>
  <li class="nav-item">
    <a style="color:white" class="nav-link" href="#">Crear practica</a>
  </li>
  <li class="nav-item">
    <a style="color:white" class="nav-link" href="/about">Acerca de</a>
  </li>
  <li class="nav-item">
    <a style="color:white" class="nav-link" href="/dashboard">Reportes</a>
  </li>
</ul>

</nav>

