{{> head }}

{{> navbar }}

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="dashboard.css" rel="stylesheet">
  </head>
  <body>
  

<div class="container-fluid">
  <div class="row">
    
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      
      <div class="position-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/carrers">
              <span data-feather="home"></span>
              Gestionar carrera
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/period">
              <span data-feather="file"></span>
              Gestionar periodos
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/users">
              <span data-feather="shopping-cart"></span>
               Gestionar usuarios
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/subjectlider">
              <span data-feather="users"></span>
              Coordinadores de asignatura
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="subject">
              <span data-feather="bar-chart-2"></span>
              Asignaturas
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/dashboard">
              <span data-feather="layers"></span>
              Reportes
            </a>
          </li>

        </ul>

        
 
        
      </div>
      
    </nav>
 
    <!--Contenido AQUI-->
    <div class="col-sm-4">
    <!--Contenido AQUI-->
    
      



    <!--Contenido AQUI-->
    </div>


</div>







{{> footer }}