{{> head }}

{{> navbar }}

<div class="grid-container">

  <!--Menu lateral --->
  <div class="grid-item1">
    <ul class="list-group list-group-flush">
    <li class="list-group-item"><a class="menuadmin" href="/carrers">Gestionar carrera</a></li>
    <li class="list-group-item"><a class="menuadmin" href="/period">Gestionar periodo</a></li>
    <li class="list-group-item"><a class="menuadmin" href="/users">Gestionar usuario</a></li>
    <li class="list-group-item"><a class="menuadmin" href="/subjectlider">Coordinadores de asignatura </a></li>
    <li class="list-group-item"><a class="menuadmin" href="subject">Asignatura </a></li>
    <li class="list-group-item"><a class="menuadmin" href="#">Reportes </a></li>
    </ul>
  </div> 

  <!--Formulario--->

  <div class="grid-item2">
      
      <br/>

      <div class="form-group">
        <label for="exampleDropdownFormEmail2">Codigo</label>
        <input type="email" class="form-control" id="exampleDropdownFormEmail2" placeholder="A54">
      </div>

      <div class="form-group">
        <label for="exampleDropdownFormEmail2">Nombre</label>
        <input type="email" class="form-control" id="exampleDropdownFormEmail2" placeholder="Base de datos">
      </div>

      <div class="form-group">
      <label for="exampleDropdownFormPassword2">Rol</label>
        <select class="form-control" name="cars" id="cars">
        <option value="volvo">Ingenieria de sistemas</option>
        <option value="saab">Ingenieria electrica</option>
        </select>

      </div>
      <center>
      <button type="submit" class="btn btn-primary">Crear</button>    
      </center>

  </div> 

<!--Tabla--->
    <div class="grid-item4">
  
    <div class="table-wrapper">
    <table>
        <thead>
            <tr>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Carrera</th>
                <th>Coordinador</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>54</td>
                <td>Text</td>
                <td>Text</td>
                <td>Text</td>
                <td></td>
            </tr>
            <tr>
                <td>55</td>
                <td>Text</td>
                <td>Text</td>
                <td>Text</td>
                <td></td>
            </tr>
            <tr>
                <td>56</td>
                <td>Text</td>
                <td>Text</td>
                <td>Text</td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>
    </div>

  </div>

</div><!--FIN GRID CONTAINER --->


{{> footer }}