{{> head }}

{{> navbar }}

<div class="grid-container">

  <!--Menu lateral --->
  <div class="grid-item1">
    <ul class="list-group list-group-flush">
    <li class="list-group-item"><a class="menuadmin" href="/carrers">Gestionar carrera</a></li>
    <li class="list-group-item"><a class="menuadmin" href="/period">Gestionar periodo</a></li>
    <li class="list-group-item"><a class="menuadmin" href="/users">Gestionar usuario</a></li>
    <li class="list-group-item"><a class="menuadmin" href="/subjectlider">Coordinadores de asignatura </a></li>
    <li class="list-group-item"><a class="menuadmin" href="subject">Asignatura </a></li>
    <li class="list-group-item"><a class="menuadmin" href="#">Reportes </a></li>
    </ul>
  </div> 

  <!--Formulario--->

  <div class="grid-item2">
      
      <br/>

      <div class="form-group">
      <label for="exampleDropdownFormPassword2">Coodinador</label>
        <select class="form-control" name="cars" id="cars">
        <option value="volvo">Juan Perez</option>
        <option value="saab">Juan Jose</option>
        </select>
    </div>
      <br>
      
      <center>
      <button type="submit" class="btn btn-primary">Agregar</button>    
      </center>

<br>
<!--Tabla--->
    <div>
  
    <div class="table-wrapper2">
    <table>
        <thead>
            <tr>
                <th>Cedula</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Acciones</th>
               
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>54</td>
                <td>Text</td>
                <td>Text</td>
                <td>Text</td>
               
            </tr>
            <tr>
                <td>55</td>
                <td>Text</td>
                <td>Text</td>
                <td>Text</td>
               
            </tr>
            <tr>
                <td>56</td>
                <td>Text</td>
                <td>Text</td>
                <td>Text</td>
   
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
      
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
        
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
         
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

            </tr>
        </tbody>
    </table>
    </div>




  </div>

  </div> 


<!--Segundo contenedor --->
<div class="grid-item22">
<!--Formulario--->

  <div class="grid-item2">
      
      <br/>

      <div class="form-group">
      <label for="exampleDropdownFormPassword2">Docente</label>
        <select class="form-control" name="cars" id="cars">
        <option value="volvo">Juan Perez</option>
        <option value="saab">Juan Jose</option>
        </select>
    </div>
      <br>
      
      <center>
      <button type="submit" class="btn btn-primary">Agregar</button>    
      </center>

<br>
<!--Tabla--->
    <div>
  
    <div class="table-wrapper2">
    <table>
        <thead>
            <tr>
                <th>Cedula</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Acciones</th>
               
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>54</td>
                <td>Text</td>
                <td>Text</td>
                <td></td>
               
            </tr>
            <tr>
                <td>55</td>
                <td>Text</td>
                <td>Text</td>
                <td></td>
               
            </tr>
            <tr>
                <td>56</td>
                <td>Text</td>
                <td>Text</td>
                <td></td>
   
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
      
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
        
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
         
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

            </tr>
        </tbody>
    </table>
    </div>
</div>
<!--*************** --->

</div><!--FIN GRID CONTAINER --->


{{> footer }}