{{> head }}

{{> navbar }}

<div class="grid-container">

  <div class="grid-item1">
    <ul class="list-group list-group-flush">
    <li class="list-group-item"><a class="menuadmin" href="/carrers">Gestionar carrera</a></li>
    <li class="list-group-item"><a class="menuadmin" href="/period">Gestionar periodo</a></li>
    <li class="list-group-item"><a class="menuadmin" href="/users">Gestionar usuario</a></li>
    <li class="list-group-item"><a class="menuadmin" href="/subjectlider">Coordinadores de asignatura </a></li>
    <li class="list-group-item"><a class="menuadmin" href="subject">Asignatura </a></li>
    <li class="list-group-item"><a class="menuadmin" href="#">Reportes </a></li>
    </ul>
  </div>  

 <div class="grid-item2">
    
    <br/>

    <div class="form-group">
      <label for="exampleDropdownFormEmail2">Nombre</label>
      <input type="email" class="form-control" id="exampleDropdownFormEmail2" placeholder="Juan">
    </div>

    <div class="form-group">
      <label for="exampleDropdownFormPassword2">Apellido</label>
      <input type="password" class="form-control" id="exampleDropdownFormPassword2" placeholder="Perez">
    </div>

    <div class="form-group">
      <label for="exampleDropdownFormPassword2">Correo institucional</label>
      <input type="password" class="form-control" id="exampleDropdownFormPassword2" placeholder="email@ups.edu.ec">
    </div>

    <div class="form-group">
      <label for="exampleDropdownFormPassword2">Cedula</label>
      <input type="password" class="form-control" id="exampleDropdownFormPassword2" placeholder="17846596745">
    </div>

    <div class="form-group">
      <label for="exampleDropdownFormPassword2">Rol</label>
    <select class="form-control" name="cars" id="cars">
      <option value="volvo">Docente</option>
      <option value="saab">Coordinador de asignatura</option>
    </select>

  </div>
<center>
  <button type="submit" class="btn btn-primary">Crear</button>    
  </center>

</div>

  <div class="grid-item3">
  
    <div class="table-wrapper">
    <table>
        <thead>
            <tr>
                <th>Cedula</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Correo institucional</th>
                <th>Rol</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Text</td>
                <td>Text</td>
                <td>Text</td>
                <td>Text</td>
                <td>Text</td>
            </tr>
            <tr>
                <td>Text</td>
                <td>Text</td>
                <td>Text</td>
                <td>Text</td>
                <td>Text</td>
            </tr>
            <tr>
                <td>Text</td>
                <td>Text</td>
                <td>Text</td>
                <td>Text</td>
                <td>Text</td>
            </tr>
            <tr>
                <td>Text</td>
                <td>Text</td>
                <td>Text</td>
                <td>Text</td>
                <td>Text</td>
            </tr>
            <tr>
                <td>Text</td>
                <td>Text</td>
                <td>Text</td>
                <td>Text</td>
                <td>Text</td>
            </tr>
            <tr>
                <td>Text</td>
                <td>Text</td>
                <td>Text</td>
                <td>Text</td>
                <td>Text</td>
            </tr>
            <tr>
                <td>Text</td>
                <td>Text</td>
                <td>Text</td>
                <td>Text</td>
                <td>Text</td>
            </tr>
        </tbody>
    </table>
    </div>

  </div>


  
  </div>




</div>








{{> footer }}